ul {
    list-style-type: none;
    margin: 0;
    margin-left:auto;
    margin-top:auto;
    padding: 0;
    
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
    margin: auto;
  }
  
  li a {
    display: block;
    color: black; 
    text-align: center;
    padding: 20px 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
  }
  
  /* Change the link color to gray on hover */
  li a:hover {
    color:gray;
    cursor: pointer;
  }

  h1{
    display:block;
    text-align: center;
    font-size:2rem; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .grid{
    display:inline-block; 
  }

  li a.active-link {
    
    background-color: rgb(148, 148, 148);  ; 
    color:white; 
  }
  li a.active-link:hover{
    color:black; 
  }