ul {
    list-style-type: none;
    margin: 0;
    margin-top:auto;
    padding: 0;
    padding-left:24px;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
    margin: auto;
  }
  
  li a {
    display: block;
    color: black; 
    text-align: center;
    padding: 20px 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    /* background-color: #111; */
    color:gray;
    cursor: pointer;
  }

  h1{
    display:block;
    text-align: center;
    font-size:2rem; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .grid{
    float:left; 
  }