<div class="background">

    <div class=wrapper2>

        <div class="flexrow">
            <div class="flexcol">
                <div class="nav">
                    <app-navbar></app-navbar>
                </div>

                <div class="input">
                    <router-outlet></router-outlet>
                </div>
            </div>

            <div class="results" id="resultsContainer">
                <h1>Finance calculator</h1>
            </div>
        
            </div>

        </div>

</div>

